body {
    background-color:#E3E6E3;
}

h1
{
  color:black;
}
#period, #period2, #period3, #period4
{
  font-size:20px;
  color: #009270;

}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#button2
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float:right;
}
#p2
{
  font-size:16px;

}
#wave
{
  color:black;
  font-size:30px;
}

}
