body {
    background-color: #808080;
}
.viz2014
{
  background-color: grey;
}
h1
{
  color:white;
}
#button2
{
  float:right;
}
#p2
{
  position:right;

}
#wave
{
  color:white;
  font-size:25px;
}
#b1, #b2
{
  background-color: #4CAF50;
  color: white;
}
