.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.952148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.309200px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.100000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.182880px;}
._1{width:1.008960px;}
._2{width:971.719360px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.160000px;}
.fs0{font-size:56.160000px;}
.y1{bottom:0.000000px;}
.yb{bottom:144.140000px;}
.y1a{bottom:157.220000px;}
.ya{bottom:158.660000px;}
.y19{bottom:171.620000px;}
.y9{bottom:173.180000px;}
.y18{bottom:186.140000px;}
.y0{bottom:192.500000px;}
.y8{bottom:192.620000px;}
.y17{bottom:208.730000px;}
.yc{bottom:228.000000px;}
.y16{bottom:228.170000px;}
.y25{bottom:328.010000px;}
.y24{bottom:342.410000px;}
.y23{bottom:356.930000px;}
.y22{bottom:380.590000px;}
.y21{bottom:405.910000px;}
.y15{bottom:417.070000px;}
.y20{bottom:425.350000px;}
.y1b{bottom:425.500000px;}
.y14{bottom:431.590000px;}
.y13{bottom:445.990000px;}
.y12{bottom:460.510000px;}
.y11{bottom:475.030000px;}
.y10{bottom:489.550000px;}
.y1f{bottom:510.910000px;}
.yf{bottom:513.070000px;}
.y1e{bottom:525.430000px;}
.ye{bottom:538.390000px;}
.y1d{bottom:539.950000px;}
.yd{bottom:557.980000px;}
.y1c{bottom:559.420000px;}
.y7{bottom:625.180000px;}
.y6{bottom:639.580000px;}
.y5{bottom:654.100000px;}
.y4{bottom:668.620000px;}
.y3{bottom:683.140000px;}
.y2{bottom:706.660000px;}
.h3{height:35.535000px;}
.h2{height:43.518516px;}
.h5{height:294.500000px;}
.h1{height:421.000000px;}
.h4{height:492.000000px;}
.h0{height:792.000000px;}
.w4{width:442.000000px;}
.w3{width:466.000000px;}
.w1{width:468.500000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x0{left:72.000000px;}
.x3{left:285.409991px;}
.x5{left:445.629991px;}
.x4{left:453.069991px;}
.x6{left:513.699991px;}
.x2{left:540.099991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.412267pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.133333pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.577173pt;}
._1{width:1.345280pt;}
._2{width:1295.625813pt;}
.fs1{font-size:58.880000pt;}
.fs0{font-size:74.880000pt;}
.y1{bottom:0.000000pt;}
.yb{bottom:192.186667pt;}
.y1a{bottom:209.626667pt;}
.ya{bottom:211.546667pt;}
.y19{bottom:228.826667pt;}
.y9{bottom:230.906667pt;}
.y18{bottom:248.186667pt;}
.y0{bottom:256.666667pt;}
.y8{bottom:256.826667pt;}
.y17{bottom:278.306667pt;}
.yc{bottom:304.000000pt;}
.y16{bottom:304.226667pt;}
.y25{bottom:437.346667pt;}
.y24{bottom:456.546667pt;}
.y23{bottom:475.906667pt;}
.y22{bottom:507.453333pt;}
.y21{bottom:541.213333pt;}
.y15{bottom:556.093333pt;}
.y20{bottom:567.133333pt;}
.y1b{bottom:567.333333pt;}
.y14{bottom:575.453333pt;}
.y13{bottom:594.653333pt;}
.y12{bottom:614.013333pt;}
.y11{bottom:633.373333pt;}
.y10{bottom:652.733333pt;}
.y1f{bottom:681.213333pt;}
.yf{bottom:684.093333pt;}
.y1e{bottom:700.573333pt;}
.ye{bottom:717.853333pt;}
.y1d{bottom:719.933333pt;}
.yd{bottom:743.973333pt;}
.y1c{bottom:745.893333pt;}
.y7{bottom:833.573333pt;}
.y6{bottom:852.773333pt;}
.y5{bottom:872.133333pt;}
.y4{bottom:891.493333pt;}
.y3{bottom:910.853333pt;}
.y2{bottom:942.213333pt;}
.h3{height:47.380000pt;}
.h2{height:58.024687pt;}
.h5{height:392.666667pt;}
.h1{height:561.333333pt;}
.h4{height:656.000000pt;}
.h0{height:1056.000000pt;}
.w4{width:589.333333pt;}
.w3{width:621.333333pt;}
.w1{width:624.666667pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x0{left:96.000000pt;}
.x3{left:380.546655pt;}
.x5{left:594.173321pt;}
.x4{left:604.093321pt;}
.x6{left:684.933321pt;}
.x2{left:720.133321pt;}
}
